html {
    background-color: white;
}

div { 
    display: flex-box;
    align-items: center;
    justify-self:center;

}

#in {
    margin-left: 3dvw;
    text-align: center;
    color: rgb(140, 140, 140);
    font-size: xx-large;
    font-family: monospace;
    border-radius: 0.5vh;
    position: fixed;
    border: none;
    background-color: rgb(0, 0, 0);
    height: 15vh;
    width: 90%;
}

#btn {
    border: none;
    margin-left: 28vw;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 40vw;
    color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 0.5vh;
    margin-top: 14vh;
    background-color:rgb(0, 0, 0);
}
#btn:hover {
    font-weight: bold;
    font-size: larger;
    color: rgb(0, 0, 0);
    background-color: rgb(81, 81, 81);
}