/* *{
    background-image: ;   
} */

#in {
    margin-top: 5vh;
    text-align: center;
    color: rgb(0, 145, 255);
    font-size: xx-large;
    font-family: monospace;
    border-radius: 0.5vh;
    position: absolute;
    left: 4vb;
    border: none;
    background-color: rgb(0, 0, 0);
    height: 30vh;
    width: 40vb;
}

#btn {
    color: white;
    font-weight: bold;
    font-size: larger;
    position: absolute;
    border-radius: 0.5vh;
    left: 4.05vb;
    margin-top: 34vh;
    height: 3vh;
    width: 40.5vb;
    border: none;
    height: 5%;
    background-color:rgb(4, 109, 190);
}
#btn:hover {
    background-color: rgb(0, 139, 246);
}